numpy==1.26.3
opencv_python==4.9.0.80
Pillow==10.2.0
PyDirectInput==1.0.4
pytesseract==0.3.10
requests==2.31.0
screeninfo==0.8.1
urllib3==2.0.4
pypiwin32==223
beautifulsoup4==4.12.3
lxml==5.1.0
tenacity=8.2.3